html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.page-footer {
background-color: #717164;
margin-top: 50px;  
border: 1px solid black;
float: left;
width:99%;
height: 10%;
position: fixed;
clear: both;
margin-top: 1000px;
}

#contentFile {
    display:none;
}

#loadGraph {
  padding: 0;
  border: none;
  background: none;
  margin-left: 23px;
}
